# Connecting to Traveltide DB

In [ ]:
import pandas as pd
import sqlalchemy as sa
pd.set_option('display.max_rows', 1000)

In [ ]:
traveltide_url = 'postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766.us-east-2.aws.neon.tech/TravelTide?sslmode=require'

In [ ]:
engine = sa.create_engine(traveltide_url)
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Session Level dataset

After Jan 4 2023.
From Users with more than 7 Sessions in the selected timeframe.

In [ ]:
## From live session
query = """
WITH user_level AS (
  SELECT  s.user_id, COUNT(session_id)
	FROM sessions s
	GROUP BY user_id
	HAVING COUNT(session_id) > 7 ),

joined_tables AS (SELECT *,
  	CASE WHEN check_out_time::date - check_in_time::date < 1
  	THEN 1
  	ELSE check_out_time::date - check_in_time::date END as nights_new,

  	CASE WHEN rooms = 0 THEN 1 ELSE rooms END as new_rooms
	FROM sessions s
	LEFT JOIN users u
	ON s.user_id = u.user_id
	LEFT JOIN hotels h
	ON s.trip_id = h.trip_id
	LEFT JOIN flights f
	ON s.trip_id = f.trip_id
	JOIN user_level ul
	ON s.user_id = ul.user_id
  	   WHERE s.session_start >= '2023-01-04')

SELECT *
FROM joined_tables
--ORDER BY RANDOM ()
--LIMIT 10000
"""

pd.read_sql(sa.text(query),connection)

,session_id,user_id,trip_id,session_start,session_end,flight_discount,hotel_discount,flight_discount_amount,hotel_discount_amount,flight_booked,...,return_time,checked_bags,trip_airline,destination_airport_lat,destination_airport_lon,base_fare_usd,user_id,count,nights_new,new_rooms
0,233677-110b929d4cad46159173c50efe7ca99e,233677,None,2023-01-04 15:49:00,2023-01-04 15:51:30,False,False,NaN,NaN,False,...,NaT,NaN,None,NaN,NaN,NaN,233677,8,NaN,NaN
1,238122-b959b0af848a4156ad391789bed8a34a,238122,None,2023-01-04 20:56:00,2023-01-04 20:56:36,False,False,NaN,NaN,False,...,NaT,NaN,None,NaN,NaN,NaN,238122,8,NaN,NaN
2,243841-50184c72e9c84b3899182b9bf1758905,243841,None,2023-01-04 15:03:00,2023-01-04 15:12:13,True,False,0.10,NaN,False,...,NaT,NaN,None,NaN,NaN,NaN,243841,9,NaN,NaN
3,246378-3997ecbbd281446ea88f7dd56f49bd61,246378,None,2023-01-04 13:46:00,2023-01-04 13:46:15,True,False,0.25,NaN,False,...,NaT,NaN,None,NaN,NaN,NaN,246378,9,NaN,NaN
4,246490-6b6111736c7349a2b000cf41406cccf9,246490,None,2023-01-04 10:47:00,2023-01-04 10:50:53,False,False,NaN,NaN,False,...,NaT,NaN,None,NaN,NaN,NaN,246490,9,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581407,405691-15f965f873604e398f39c32cdee6ffb4,405691,None,2023-01-23 05:48:00,2023-01-23 05:48:08,False,True,NaN,0.3,False,...,NaT,NaN,None,NaN,NaN,NaN,405691,8,NaN,NaN
581408,414018-7686ed9a59be4d53bb29a6f52bf50873,414018,None,2023-01-23 15:45:00,2023-01-23 15:47:02,True,False,0.05,NaN,False,...,NaT,NaN,None,NaN,NaN,NaN,414018,9,NaN,NaN
581409,415850-f4cea59803394dbb8dbb0de363df9e0a,415850,None,2023-01-23 01:20:00,2023-01-23 01:20:28,False,False,NaN,NaN,False,...,NaT,NaN,None,NaN,NaN,NaN,415850,8,NaN,NaN
581410,422431-00e8e4d20db64fc3af8a14312725a949,422431,None,2023-01-23 18:03:00,2023-01-23 18:04:09,False,False,NaN,NaN,False,...,NaT,NaN,None,NaN,NaN,NaN,422431,9,NaN,NaN
581411,424027-0c34aa7283d34e22b582267e631735bd,424027,None,2023-01-23 15:01:00,2023-01-23 15:01:48,False,False,NaN,NaN,False,...,NaT,NaN,None,NaN,NaN,NaN,424027,9,NaN,NaN

In [ ]:
## Self Exploration
query_sessions = """
WITH user_level AS (
  SELECT
    user_id,
    COUNT(session_id) AS total_sessions
  FROM sessions s
  GROUP BY user_id
  HAVING COUNT(session_id) > 7
),
session_full_level_table AS (
  SELECT
  s.session_id, s.user_id, s.trip_id, s.session_start, s.session_end, s.flight_discount, s.hotel_discount, s.flight_discount_amount, s.hotel_discount_amount,
  s.flight_booked, s.hotel_booked, s.page_clicks, s.cancellation, u.birthdate, u.gender, u.married, u.has_children, u.home_country, u.home_city, u.home_airport,
  u.home_airport_lat, u.home_airport_lon, u.sign_up_date,  h.check_in_time, h.check_out_time, h.hotel_per_room_usd, f.origin_airport, f.destination, f.destination_airport, f.seats,
  f.return_flight_booked, f.departure_time, f.return_time, f.checked_bags, f.trip_airline, f.destination_airport_lat, f.destination_airport_lon, f.base_fare_usd,
  CASE
    WHEN check_out_time::date - check_in_time::date <1 THEN 1
    ELSE check_out_time::date - check_in_time::date
  END as nights_new,
  h.nights AS nights_old,
  CASE
    WHEN rooms = 0 THEN 1
    ELSE rooms
  END as rooms_new,
  h.rooms AS rooms_old,
  split_part(hotel_name,' - ', 1) AS hotel_name,
  split_part(hotel_name,' - ', 2) AS hotel_city,
  EXTRACT(YEAR FROM AGE('2023-07-31', u.sign_up_date)) * 12 + EXTRACT(MONTH FROM AGE('2023-07-31', u.sign_up_date)) AS mths_as_customer,
  EXTRACT(YEAR FROM AGE('2023-07-31', u.birthdate)) AS customer_age
  FROM sessions s
  LEFT JOIN users u ON s.user_id = u.user_id
  LEFT JOIN hotels h ON s.trip_id = h.trip_id
  LEFT JOIN flights f ON s.trip_id = f.trip_id
  JOIN user_level ul ON s.user_id = ul.user_id
  WHERE session_start >= '2023-01-04'
)
SELECT *
FROM session_full_level_table
"""
pd.read_sql(sa.text(query_sessions),connection)

,session_id,user_id,trip_id,session_start,session_end,flight_discount,hotel_discount,flight_discount_amount,hotel_discount_amount,flight_booked,...,destination_airport_lon,base_fare_usd,nights_new,nights_old,rooms_new,rooms_old,hotel_name,hotel_city,mths_as_customer,customer_age
0,200022-76b90c2fae684edab76806e01f8593ec,200022,200022-f84c94ce377e40d3b57cd150c8cf390e,2023-02-07 08:24:00,2023-02-07 08:29:47,False,False,NaN,NaN,True,...,-81.688,611.94,3.0,2.0,1.0,1.0,Aman Resorts,jacksonville,13.0,47.0
1,289651-628512d12fcf44bf98bf24dffa6e84bc,289651,289651-382afb8f1bf441a8ab6c09e217265f8e,2023-03-13 13:49:00,2023-03-13 13:52:51,True,False,0.15,NaN,False,...,NaN,NaN,21.0,21.0,2.0,2.0,Marriott,chicago,11.0,17.0
2,342915-00395840ce6e4725b2d24d9c76c35788,342915,342915-61568558c370452b905bf91c105c929c,2023-03-13 21:22:00,2023-03-13 21:26:57,False,False,NaN,NaN,True,...,-118.408,33.77,9.0,9.0,2.0,2.0,Marriott,los angeles,10.0,48.0
3,400133-e067620c7f6e455a8f33885c75418634,400133,400133-d1a424943b9d4ce7874e1e7947263599,2023-03-14 19:28:00,2023-03-14 19:31:09,False,False,NaN,NaN,True,...,-117.215,133.33,2.0,1.0,1.0,1.0,Rosewood,san diego,8.0,46.0
4,380893-138a0d52e877420295a3f39d2761b04b,380893,380893-e4405015ce2b4b63be226fa94c4bd7d0,2023-03-18 18:55:00,2023-03-18 18:57:25,False,False,NaN,NaN,True,...,-98.279,397.29,4.0,4.0,1.0,1.0,Radisson,san antonio,9.0,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581407,392942-1a0648a298ba4031a9dbbcc0f1178291,392942,392942-5a6017660fac4ae4be2e213924a635a1,2023-05-19 20:40:00,2023-05-19 20:42:10,False,False,NaN,NaN,True,...,-73.779,1514.21,4.0,3.0,2.0,2.0,NH Hotel,new york,8.0,40.0
581408,30205-6c05e428d0cb4e3687c6fb7da9798e47,30205,30205-5012d2557e9a4c8e91428de0a877a390,2023-05-24 10:11:00,2023-05-24 10:13:33,False,True,NaN,0.1,True,...,-73.779,151.62,4.0,3.0,1.0,1.0,Best Western,new york,23.0,32.0
581409,6136-d97989da789f4f9f8ed1cda8f66e1bfe,6136,6136-37788f6dec10497694bc58e3a28db1cb,2023-05-28 15:06:00,2023-05-28 15:08:50,False,True,NaN,0.1,True,...,-73.779,437.87,2.0,1.0,1.0,1.0,Rosewood,new york,25.0,55.0
581410,152336-25a42b3576824ef59689e6ccc72348cd,152336,152336-47649e39f0dc4df18c750c7950d36fca,2023-05-31 19:38:00,2023-05-31 19:45:29,False,False,NaN,NaN,True,...,-97.670,435.87,4.0,3.0,1.0,1.0,Best Western,austin,15.0,52.0
581411,43011-331f1399b8fa4978930ddfb96211e85b,43011,43011-3c1257bf263b49e38acf18224e995f0c,2023-06-06 18:30:00,2023-06-06 18:32:15,False,True,NaN,0.1,True,...,-121.929,761.63,4.0,3.0,1.0,1.0,Rosewood,san jose,22.0,26.0

In [ ]:
sessions_level_df = pd.read_sql(query_sessions, engine)

# create file to download and use in tableau
sessions_level_df.to_csv('sessions_level_final_table.csv', index=False)

# Descriptive Analysis

Breakdown of users by gender, marital status, and whether they have children.

In [ ]:
query1 = """
SELECT gender,married,has_children,
  CASE WHEN
  EXTRACT(YEAR FROM AGE('2023-07-28',birthdate)) < 18 THEN 'under 18'
  WHEN EXTRACT(YEAR FROM AGE('2023-07-28',birthdate)) < 25 THEN '18-25'
  WHEN EXTRACT(YEAR FROM AGE('2023-07-28',birthdate)) < 35 THEN '25-35'
  WHEN EXTRACT(YEAR FROM AGE('2023-07-28',birthdate)) < 45 THEN '35-45'
  WHEN EXTRACT(YEAR FROM AGE('2023-07-28',birthdate)) < 55 THEN '45-55'
  WHEN EXTRACT(YEAR FROM AGE('2023-07-28',birthdate)) < 65 THEN '55-65'
  ELSE '65+'
  END AS user_age,COUNT(*)
    FROM users
    GROUP BY 1,2,3,4
    ORDER BY 5
    """

query2 = """

SELECT max(session_start)
FROM sessions

"""

display(pd.read_sql(sa.text(query1),connection))
display(pd.read_sql(sa.text(query2),connection))

   gender  married  has_children  user_age  count
0       O     True         False  under 18      1
1       O     True          True  under 18      2
2       O     True          True       65+      2
3       O    False          True       65+      3
4       F     True          True  under 18     24
5       M     True          True  under 18     33
6       F     True         False  under 18     34
7       F    False          True       65+     47
8       M     True         False  under 18     47
9       O     True          True     55-65     54
10      O     True          True     18-25     57
11      M    False          True       65+     58
12      O     True         False       65+     79
13      O     True         False     55-65     86
14      O     True         False     18-25     87
15      O    False          True  under 18    103
16      O    False          True     18-25    129
17      O    False          True     55-65    138
18      O     True          True     25-35    150
19      O     True          True     45-55    175
20      F     True          True       65+    213
21      O     True         False     45-55    214
22      O     True          True     35-45    230
23      M     True          True       65+    233
24      O     True         False     25-35    234
25      O    False         False  under 18    274
26      O    False         False       65+    303
27      O     True         False     35-45    318
28      O    False         False     55-65    360
29      O    False         False     18-25    388
30      O    False          True     45-55    394
31      O    False          True     25-35    408
32      O    False          True     35-45    484
33      O    False         False     45-55   1060
34      O    False         False     25-35   1127
35      F     True          True     18-25   1221
36      O    False         False     35-45   1426
37      F     True         False     18-25   1615
38      M     True          True     18-25   1775
39      M     True         False     18-25   2528
40      F    False          True     55-65   2555
41      M    False          True     55-65   3967
42      F    False         False       65+   4392
43      F    False          True  under 18   5288
44      M    False          True  under 18   6414
45      M    False         False       65+   6566
46      F    False         False     55-65   6940
47      F     True          True     25-35   7543
48      F    False          True     18-25   8577
49      F    False          True     45-55  10011
50      F     True         False     25-35  10344
51      M    False          True     18-25  10428
52      M    False         False     55-65  10638
53      M     True          True     25-35  10654
54      F     True          True     55-65  11392
55      M     True          True     55-65  12589
56      M     True         False     25-35  14465
57      M    False          True     45-55  15115
58      F     True         False     55-65  15116
59      F    False         False  under 18  15455
60      F     True         False       65+  16036
61      M     True         False     55-65  16747
62      M     True         False       65+  18504
63      M    False         False  under 18  18956
64      F    False          True     35-45  21929
65      F    False          True     25-35  22521
66      F     True          True     35-45  23725
67      F    False         False     18-25  24516
68      M     True          True     35-45  26984
69      M    False          True     25-35  27103
70      F    False         False     45-55  27428
71      F     True          True     45-55  28051
72      M    False          True     35-45  28372
73      M    False         False     18-25  29752
74      M     True          True     45-55  30486
75      F     True         False     35-45  30842
76      M     True         False     35-45  35702
77      F     True         False     45-55  36517
78      M     True         False     45-55  39708
79      M    False         False     45-55  40654
80      F    False         False     35-45  59360
81      F    False         False     25-35  61962
82      M    False         False     25-35  74564
83      M    False         False     35-45  75944

                  max
0 2023-07-28 23:57:55

In [ ]:
##Gender Percentage

query = """
WITH gender_COUNT AS(
  SELECT gender,COUNT(gender) AS gender_count
  FROM users
  GROUP BY gender
  ORDER BY gender_count DESC
),
totals AS (
  SELECT COUNT(*) AS total_count
  FROM users
),
gender_percent AS (
  SELECT gender,
	(ROUND((gender_count::numeric/total_count),2)*100) gender_percent
FROM gender_count
CROSS JOIN totals
)
SELECT *
FROM gender_percent
"""

display(pd.read_sql(sa.text(query),connection))

  gender  gender_percent
0      M            55.0
1      F            44.0
2      O             1.0

What is the distribution of the user's birth year? Do you spot any irregularity there?
What is special about birth year 2006? How would you calculate the age based on birth date?

In [ ]:
query1 = """
SELECT COUNT(married) AS married_count
FROM users
WHERE EXTRACT(year FROM birthdate) = 2006 AND married != 'Yes'
"""

query2 = """
SELECT COUNT(has_children) AS has_children_count
FROM users
WHERE EXTRACT(year FROM birthdate) = 2006 AND has_children = 'Yes'
"""

query3 = """
SELECT DISTINCT(sign_up_date) AS sign_up_date
FROM users
WHERE EXTRACT(year FROM birthdate) = 2006
"""

display(pd.read_sql(sa.text(query1),connection))
display(pd.read_sql(sa.text(query2),connection))
display(pd.read_sql(sa.text(query3),connection))

   married_count
0          43360

   has_children_count
0               10986

    sign_up_date
0     2021-04-01
1     2021-04-02
2     2021-04-04
3     2021-04-05
4     2021-04-07
5     2021-04-09
6     2021-04-11
7     2021-04-12
8     2021-04-15
9     2021-04-17
10    2021-04-18
11    2021-04-19
12    2021-04-24
13    2021-04-25
14    2021-04-27
15    2021-04-29
16    2021-04-30
17    2021-05-01
18    2021-05-02
19    2021-05-03
20    2021-05-04
21    2021-05-09
22    2021-05-10
23    2021-05-11
24    2021-05-13
25    2021-05-14
26    2021-05-15
27    2021-05-16
28    2021-05-17
29    2021-05-18
30    2021-05-19
31    2021-05-20
32    2021-05-21
33    2021-05-22
34    2021-05-23
35    2021-05-24
36    2021-05-25
37    2021-05-26
38    2021-05-27
39    2021-05-28
40    2021-05-29
41    2021-05-30
42    2021-05-31
43    2021-06-01
44    2021-06-02
45    2021-06-03
46    2021-06-04
47    2021-06-05
48    2021-06-06
49    2021-06-07
50    2021-06-08
51    2021-06-09
52    2021-06-10
53    2021-06-11
54    2021-06-12
55    2021-06-13
56    2021-06-14
57    2021-06-15
58    2021-06-16
59    2021-06-17
60    2021-06-18
61    2021-06-19
62    2021-06-20
63    2021-06-21
64    2021-06-22
65    2021-06-23
66    2021-06-24
67    2021-06-25
68    2021-06-26
69    2021-06-27
70    2021-06-28
71    2021-06-29
72    2021-06-30
73    2021-07-01
74    2021-07-02
75    2021-07-03
76    2021-07-04
77    2021-07-05
78    2021-07-06
79    2021-07-07
80    2021-07-08
81    2021-07-09
82    2021-07-10
83    2021-07-11
84    2021-07-12
85    2021-07-13
86    2021-07-14
87    2021-07-15
88    2021-07-16
89    2021-07-17
90    2021-07-18
91    2021-07-19
92    2021-07-20
93    2021-07-21
94    2021-07-22
95    2021-07-23
96    2021-07-24
97    2021-07-25
98    2021-07-26
99    2021-07-27
100   2021-07-28
101   2021-07-29
102   2021-07-30
103   2021-07-31
104   2021-08-01
105   2021-08-02
106   2021-08-03
107   2021-08-04
108   2021-08-05
109   2021-08-06
110   2021-08-07
111   2021-08-08
112   2021-08-09
113   2021-08-10
114   2021-08-11
115   2021-08-12
116   2021-08-13
117   2021-08-14
118   2021-08-15
119   2021-08-16
120   2021-08-17
121   2021-08-18
122   2021-08-19
123   2021-08-20
124   2021-08-21
125   2021-08-22
126   2021-08-23
127   2021-08-24
128   2021-08-25
129   2021-08-26
130   2021-08-27
131   2021-08-28
132   2021-08-29
133   2021-08-30
134   2021-08-31
135   2021-09-01
136   2021-09-02
137   2021-09-03
138   2021-09-04
139   2021-09-05
140   2021-09-06
141   2021-09-07
142   2021-09-08
143   2021-09-09
144   2021-09-10
145   2021-09-11
146   2021-09-12
147   2021-09-13
148   2021-09-14
149   2021-09-15
150   2021-09-16
151   2021-09-17
152   2021-09-18
153   2021-09-19
154   2021-09-20
155   2021-09-21
156   2021-09-22
157   2021-09-23
158   2021-09-24
159   2021-09-25
160   2021-09-26
161   2021-09-27
162   2021-09-28
163   2021-09-29
164   2021-09-30
165   2021-10-01
166   2021-10-02
167   2021-10-03
168   2021-10-04
169   2021-10-05
170   2021-10-06
171   2021-10-07
172   2021-10-08
173   2021-10-09
174   2021-10-10
175   2021-10-11
176   2021-10-12
177   2021-10-13
178   2021-10-14
179   2021-10-15
180   2021-10-16
181   2021-10-17
182   2021-10-18
183   2021-10-19
184   2021-10-20
185   2021-10-21
186   2021-10-22
187   2021-10-23
188   2021-10-24
189   2021-10-25
190   2021-10-26
191   2021-10-27
192   2021-10-28
193   2021-10-29
194   2021-10-30
195   2021-10-31
196   2021-11-01
197   2021-11-02
198   2021-11-03
199   2021-11-04
200   2021-11-05
201   2021-11-06
202   2021-11-07
203   2021-11-08
204   2021-11-09
205   2021-11-10
206   2021-11-11
207   2021-11-12
208   2021-11-13
209   2021-11-14
210   2021-11-15
211   2021-11-16
212   2021-11-17
213   2021-11-18
214   2021-11-19
215   2021-11-20
216   2021-11-21
217   2021-11-22
218   2021-11-23
219   2021-11-24
220   2021-11-25
221   2021-11-26
222   2021-11-27
223   2021-11-28
224   2021-11-29
225   2021-11-30
226   2021-12-01
227   2021-12-02
228   2021-12-03
229   2021-12-04
230   2021-12-05
231   2021-12-06
232   2021-12-07
233   2021-12-08
234   2021-12-09
235   2021-12-10
236   2021-12-11
237   2021-12-12
238   2021-12-13
239   2021-12-14
240   2021-12-15
241   2021-12-16
242   2021-12-17
243   2021-12-18
244   2021-12-19
245   2021-12-20
246   2021-12-21
247   2021-12-22
248   2021-12-23
249   2021-12-24
250   2021-12-25
251   2021-12-26
252   2021-12-27
253   2021-12-28
254   2021-12-29
255   2021-12-30
256   2021-12-31
257   2022-01-01
258   2022-01-02
259   2022-01-03
260   2022-01-04
261   2022-01-05
262   2022-01-06
263   2022-01-07
264   2022-01-08
265   2022-01-09
266   2022-01-10
267   2022-01-11
268   2022-01-12
269   2022-01-13
270   2022-01-14
271   2022-01-15
272   2022-01-16
273   2022-01-17
274   2022-01-18
275   2022-01-19
276   2022-01-20
277   2022-01-21
278   2022-01-22
279   2022-01-23
280   2022-01-24
281   2022-01-25
282   2022-01-26
283   2022-01-27
284   2022-01-28
285   2022-01-29
286   2022-01-30
287   2022-01-31
288   2022-02-01
289   2022-02-02
290   2022-02-03
291   2022-02-04
292   2022-02-05
293   2022-02-06
294   2022-02-07
295   2022-02-08
296   2022-02-09
297   2022-02-10
298   2022-02-11
299   2022-02-12
300   2022-02-13
301   2022-02-14
302   2022-02-15
303   2022-02-16
304   2022-02-17
305   2022-02-18
306   2022-02-19
307   2022-02-20
308   2022-02-21
309   2022-02-22
310   2022-02-23
311   2022-02-24
312   2022-02-25
313   2022-02-26
314   2022-02-27
315   2022-02-28
316   2022-03-01
317   2022-03-02
318   2022-03-03
319   2022-03-04
320   2022-03-05
321   2022-03-06
322   2022-03-07
323   2022-03-08
324   2022-03-09
325   2022-03-10
326   2022-03-11
327   2022-03-12
328   2022-03-13
329   2022-03-14
330   2022-03-15
331   2022-03-16
332   2022-03-17
333   2022-03-18
334   2022-03-19
335   2022-03-20
336   2022-03-21
337   2022-03-22
338   2022-03-23
339   2022-03-24
340   2022-03-25
341   2022-03-26
342   2022-03-27
343   2022-03-28
344   2022-03-29
345   2022-03-30
346   2022-03-31
347   2022-04-01
348   2022-04-02
349   2022-04-03
350   2022-04-04
351   2022-04-05
352   2022-04-06
353   2022-04-07
354   2022-04-08
355   2022-04-09
356   2022-04-10
357   2022-04-11
358   2022-04-12
359   2022-04-13
360   2022-04-14
361   2022-04-15
362   2022-04-16
363   2022-04-17
364   2022-04-18
365   2022-04-19
366   2022-04-20
367   2022-04-21
368   2022-04-22
369   2022-04-23
370   2022-04-24
371   2022-04-25
372   2022-04-26
373   2022-04-27
374   2022-04-28
375   2022-04-29
376   2022-04-30
377   2022-05-01
378   2022-05-02
379   2022-05-03
380   2022-05-04
381   2022-05-05
382   2022-05-06
383   2022-05-07
384   2022-05-08
385   2022-05-09
386   2022-05-10
387   2022-05-11
388   2022-05-12
389   2022-05-13
390   2022-05-14
391   2022-05-15
392   2022-05-16
393   2022-05-17
394   2022-05-18
395   2022-05-19
396   2022-05-20
397   2022-05-21
398   2022-05-22
399   2022-05-23
400   2022-05-24
401   2022-05-25
402   2022-05-26
403   2022-05-27
404   2022-05-28
405   2022-05-29
406   2022-05-30
407   2022-05-31
408   2022-06-01
409   2022-06-02
410   2022-06-03
411   2022-06-04
412   2022-06-05
413   2022-06-06
414   2022-06-07
415   2022-06-08
416   2022-06-09
417   2022-06-10
418   2022-06-11
419   2022-06-12
420   2022-06-13
421   2022-06-14
422   2022-06-15
423   2022-06-16
424   2022-06-17
425   2022-06-18
426   2022-06-19
427   2022-06-20
428   2022-06-21
429   2022-06-22
430   2022-06-23
431   2022-06-24
432   2022-06-25
433   2022-06-26
434   2022-06-27
435   2022-06-28
436   2022-06-29
437   2022-06-30
438   2022-07-01
439   2022-07-02
440   2022-07-03
441   2022-07-04
442   2022-07-05
443   2022-07-06
444   2022-07-07
445   2022-07-08
446   2022-07-09
447   2022-07-10
448   2022-07-11
449   2022-07-12
450   2022-07-13
451   2022-07-14
452   2022-07-15
453   2022-07-16
454   2022-07-17
455   2022-07-18
456   2022-07-19
457   2022-07-20
458   2022-07-21
459   2022-07-22
460   2022-07-23
461   2022-07-24
462   2022-07-25
463   2022-07-26
464   2022-07-27
465   2022-07-28
466   2022-07-29
467   2022-07-30
468   2022-07-31
469   2022-08-01
470   2022-08-02
471   2022-08-03
472   2022-08-04
473   2022-08-05
474   2022-08-06
475   2022-08-07
476   2022-08-08
477   2022-08-09
478   2022-08-10
479   2022-08-11
480   2022-08-12
481   2022-08-13
482   2022-08-14
483   2022-08-15
484   2022-08-16
485   2022-08-17
486   2022-08-18
487   2022-08-19
488   2022-08-20
489   2022-08-21
490   2022-08-22
491   2022-08-23
492   2022-08-24
493   2022-08-25
494   2022-08-26
495   2022-08-27
496   2022-08-28
497   2022-08-29
498   2022-08-30
499   2022-08-31
500   2022-09-01
501   2022-09-02
502   2022-09-03
503   2022-09-04
504   2022-09-05
505   2022-09-06
506   2022-09-07
507   2022-09-08
508   2022-09-09
509   2022-09-10
510   2022-09-11
511   2022-09-12
512   2022-09-13
513   2022-09-14
514   2022-09-15
515   2022-09-16
516   2022-09-17
517   2022-09-18
518   2022-09-19
519   2022-09-20
520   2022-09-21
521   2022-09-22
522   2022-09-23
523   2022-09-24
524   2022-09-25
525   2022-09-26
526   2022-09-27
527   2022-09-28
528   2022-09-29
529   2022-09-30
530   2022-10-01
531   2022-10-02
532   2022-10-03
533   2022-10-04
534   2022-10-05
535   2022-10-06
536   2022-10-07
537   2022-10-08
538   2022-10-09
539   2022-10-10
540   2022-10-11
541   2022-10-12
542   2022-10-13
543   2022-10-14
544   2022-10-15
545   2022-10-16
546   2022-10-17
547   2022-10-18
548   2022-10-19
549   2022-10-20
550   2022-10-21
551   2022-10-22
552   2022-10-23
553   2022-10-24
554   2022-10-25
555   2022-10-26
556   2022-10-27
557   2022-10-28
558   2022-10-29
559   2022-10-30
560   2022-10-31
561   2022-11-01
562   2022-11-02
563   2022-11-03
564   2022-11-04
565   2022-11-05
566   2022-11-06
567   2022-11-07
568   2022-11-08
569   2022-11-09
570   2022-11-10
571   2022-11-11
572   2022-11-12
573   2022-11-13
574   2022-11-14
575   2022-11-15
576   2022-11-16
577   2022-11-17
578   2022-11-18
579   2022-11-19
580   2022-11-20
581   2022-11-21
582   2022-11-22
583   2022-11-23
584   2022-11-24
585   2022-11-25
586   2022-11-26
587   2022-11-27
588   2022-11-28
589   2022-11-29
590   2022-11-30
591   2022-12-01
592   2022-12-02
593   2022-12-03
594   2022-12-04
595   2022-12-05
596   2022-12-06
597   2022-12-07
598   2022-12-08
599   2022-12-09
600   2022-12-10
601   2022-12-11
602   2022-12-12
603   2022-12-13
604   2022-12-14
605   2022-12-15
606   2022-12-16
607   2022-12-17
608   2022-12-18
609   2022-12-19
610   2022-12-20
611   2022-12-21
612   2022-12-22
613   2022-12-23
614   2022-12-24
615   2022-12-25
616   2022-12-26
617   2022-12-27
618   2022-12-28
619   2022-12-29
620   2022-12-30
621   2022-12-31
622   2023-01-01
623   2023-01-02
624   2023-01-03
625   2023-01-04
626   2023-01-05
627   2023-01-06
628   2023-01-07
629   2023-01-08
630   2023-01-09
631   2023-01-10
632   2023-01-11
633   2023-01-12
634   2023-01-13
635   2023-01-14
636   2023-01-15
637   2023-01-16
638   2023-01-17
639   2023-01-18
640   2023-01-19
641   2023-01-20
642   2023-01-21
643   2023-01-22
644   2023-01-23
645   2023-01-24
646   2023-01-25
647   2023-01-26
648   2023-01-27
649   2023-01-28
650   2023-01-29
651   2023-01-30
652   2023-01-31
653   2023-02-01
654   2023-02-02
655   2023-02-03
656   2023-02-04
657   2023-02-05
658   2023-02-06
659   2023-02-07
660   2023-02-08
661   2023-02-09
662   2023-02-10
663   2023-02-11
664   2023-02-12
665   2023-02-13
666   2023-02-14
667   2023-02-15
668   2023-02-16
669   2023-02-17
670   2023-02-18
671   2023-02-19
672   2023-02-20
673   2023-02-21
674   2023-02-22
675   2023-02-23
676   2023-02-24
677   2023-02-25
678   2023-02-26
679   2023-02-27
680   2023-02-28
681   2023-03-01
682   2023-03-02
683   2023-03-03
684   2023-03-04
685   2023-03-05
686   2023-03-06
687   2023-03-07
688   2023-03-08
689   2023-03-09
690   2023-03-10
691   2023-03-11
692   2023-03-12
693   2023-03-13
694   2023-03-14
695   2023-03-15
696   2023-03-16
697   2023-03-17
698   2023-03-18
699   2023-03-19
700   2023-03-20
701   2023-03-21
702   2023-03-22
703   2023-03-23
704   2023-03-24
705   2023-03-25
706   2023-03-26
707   2023-03-27
708   2023-03-28
709   2023-03-29
710   2023-03-30
711   2023-03-31
712   2023-04-01
713   2023-04-02
714   2023-04-03
715   2023-04-04
716   2023-04-05
717   2023-04-06
718   2023-04-07
719   2023-04-08
720   2023-04-09
721   2023-04-10
722   2023-04-11
723   2023-04-12
724   2023-04-13
725   2023-04-14
726   2023-04-15
727   2023-04-16
728   2023-04-17
729   2023-04-18
730   2023-04-19
731   2023-04-20
732   2023-04-21
733   2023-04-22
734   2023-04-23
735   2023-04-24
736   2023-04-25
737   2023-04-26
738   2023-04-27
739   2023-04-28
740   2023-04-29
741   2023-04-30
742   2023-05-01
743   2023-05-02
744   2023-05-03
745   2023-05-04
746   2023-05-05
747   2023-05-06
748   2023-05-07
749   2023-05-08
750   2023-05-09
751   2023-05-10
752   2023-05-11
753   2023-05-12
754   2023-05-13
755   2023-05-14
756   2023-05-15
757   2023-05-16
758   2023-05-17
759   2023-05-18
760   2023-05-19
761   2023-05-20
762   2023-05-21
763   2023-05-22
764   2023-05-23
765   2023-05-24
766   2023-05-25
767   2023-05-26
768   2023-05-27
769   2023-05-28
770   2023-05-29
771   2023-05-30
772   2023-05-31
773   2023-06-01
774   2023-06-02
775   2023-06-03
776   2023-06-04
777   2023-06-05
778   2023-06-06
779   2023-06-07
780   2023-06-08
781   2023-06-09
782   2023-06-10
783   2023-06-11
784   2023-06-12
785   2023-06-13
786   2023-06-14
787   2023-06-15
788   2023-06-16
789   2023-06-17
790   2023-06-18
791   2023-06-19
792   2023-06-20
793   2023-06-21
794   2023-06-22
795   2023-06-23
796   2023-06-24
797   2023-06-25
798   2023-06-26
799   2023-06-27
800   2023-06-28
801   2023-06-29
802   2023-06-30
803   2023-07-01
804   2023-07-02
805   2023-07-03
806   2023-07-04
807   2023-07-05
808   2023-07-06
809   2023-07-07
810   2023-07-08
811   2023-07-09
812   2023-07-10
813   2023-07-11
814   2023-07-12
815   2023-07-13
816   2023-07-14
817   2023-07-15
818   2023-07-16
819   2023-07-17
820   2023-07-18
821   2023-07-19
822   2023-07-20

Customer age as period in months since the user signed up to the platform and average "customer age" of TravelTide user.

In [ ]:
query = """

SELECT
  EXTRACT(YEAR FROM AGE(sign_up_date, birthdate))::integer AS age_at_sign_up,
  EXTRACT(YEAR FROM sign_up_date)::integer AS sign_up_year,
  EXTRACT(YEAR FROM birthdate)::integer AS birthyear,
  (EXTRACT(YEAR FROM sign_up_date)::integer) - (EXTRACT(YEAR FROM birthdate)::integer) AS age,
  COUNT(*) AS count,
  SUM(COUNT(*))OVER()::integer AS total_users_under_18
FROM users
GROUP BY 1,2,3,4
ORDER BY --age_at_sign_up,
age DESC;

"""

display(pd.read_sql(sa.text(query),connection))

     age_at_sign_up  sign_up_year  birthyear  age  count  total_users_under_18
0                92          2023       1931   92      1               1020926
1                90          2023       1932   91      1               1020926
2                89          2022       1932   90      2               1020926
3                89          2023       1933   90      1               1020926
4                90          2022       1932   90      2               1020926
5                90          2023       1933   90      1               1020926
6                88          2022       1933   89      3               1020926
7                88          2023       1934   89     10               1020926
8                89          2022       1933   89      1               1020926
9                89          2023       1934   89      4               1020926
10               87          2022       1934   88      2               1020926
11               87          2023       1935   88     11               1020926
12               88          2021       1933   88      2               1020926
13               88          2022       1934   88      6               1020926
14               88          2023       1935   88      4               1020926
15               86          2022       1935   87      4               1020926
16               86          2023       1936   87     18               1020926
17               87          2021       1934   87      2               1020926
18               87          2022       1935   87      9               1020926
19               87          2023       1936   87     11               1020926
20               85          2021       1935   86      2               1020926
21               85          2022       1936   86      7               1020926
22               85          2023       1937   86     49               1020926
23               86          2021       1935   86      3               1020926
24               86          2022       1936   86     13               1020926
25               86          2023       1937   86     20               1020926
26               84          2021       1936   85      1               1020926
27               84          2022       1937   85     20               1020926
28               84          2023       1938   85     95               1020926
29               85          2021       1936   85      4               1020926
30               85          2022       1937   85     29               1020926
31               85          2023       1938   85     51               1020926
32               83          2021       1937   84      3               1020926
33               83          2022       1938   84     36               1020926
34               83          2023       1939   84    146               1020926
35               84          2021       1937   84      9               1020926
36               84          2022       1938   84     66               1020926
37               84          2023       1939   84     45               1020926
38               82          2021       1938   83      5               1020926
39               82          2022       1939   83     56               1020926
40               82          2023       1940   83    129               1020926
41               83          2021       1938   83     15               1020926
42               83          2022       1939   83     89               1020926
43               83          2023       1940   83     54               1020926
44               81          2021       1939   82      9               1020926
45               81          2022       1940   82     60               1020926
46               81          2023       1941   82    158               1020926
47               82          2021       1939   82     19               1020926
48               82          2022       1940   82     99               1020926
49               82          2023       1941   82     78               1020926
50               80          2021       1940   81      6               1020926
51               80          2022       1941   81     69               1020926
52               80          2023       1942   81    155               1020926
53               81          2021       1940   81     18               1020926
54               81          2022       1941   81     88               1020926
55               81          2023       1942   81     58               1020926
56               79          2021       1941   80     15               1020926
57               79          2022       1942   80     84               1020926
58               79          2023       1943   80    199               1020926
59               80          2021       1941   80     15               1020926
60               80          2022       1942   80    113               1020926
61               80          2023       1943   80     79               1020926
62               78          2021       1942   79     11               1020926
63               78          2022       1943   79     92               1020926
64               78          2023       1944   79    240               1020926
65               79          2021       1942   79     25               1020926
66               79          2022       1943   79    121               1020926
67               79          2023       1944   79    108               1020926
68               77          2021       1943   78     13               1020926
69               77          2022       1944   78    121               1020926
70               77          2023       1945   78    307               1020926
71               78          2021       1943   78     27               1020926
72               78          2022       1944   78    192               1020926
73               78          2023       1945   78    109               1020926
74               76          2021       1944   77     13               1020926
75               76          2022       1945   77    141               1020926
76               76          2023       1946   77    376               1020926
77               77          2021       1944   77     40               1020926
78               77          2022       1945   77    210               1020926
79               77          2023       1946   77    154               1020926
80               75          2021       1945   76     14               1020926
81               75          2022       1946   76    197               1020926
82               75          2023       1947   76    461               1020926
83               76          2021       1945   76     40               1020926
84               76          2022       1946   76    256               1020926
85               76          2023       1947   76    168               1020926
86               74          2021       1946   75     34               1020926
87               74          2022       1947   75    225               1020926
88               74          2023       1948   75    597               1020926
89               75          2021       1946   75     46               1020926
90               75          2022       1947   75    288               1020926
91               75          2023       1948   75    258               1020926
92               73          2021       1947   74     34               1020926
93               73          2022       1948   74    265               1020926
94               73          2023       1949   74    698               1020926
95               74          2021       1947   74     71               1020926
96               74          2022       1948   74    416               1020926
97               74          2023       1949   74    268               1020926
98               72          2021       1948   73     38               1020926
99               72          2022       1949   73    287               1020926
100              72          2023       1950   73    850               1020926
101              73          2021       1948   73     80               1020926
102              73          2022       1949   73    492               1020926
103              73          2023       1950   73    306               1020926
104              71          2021       1949   72     44               1020926
105              71          2022       1950   72    402               1020926
106              71          2023       1951   72    961               1020926
107              72          2021       1949   72     98               1020926
108              72          2022       1950   72    571               1020926
109              72          2023       1951   72    380               1020926
110              70          2021       1950   71     50               1020926
111              70          2022       1951   71    451               1020926
112              70          2023       1952   71   1130               1020926
113              71          2021       1950   71    117               1020926
114              71          2022       1951   71    665               1020926
115              71          2023       1952   71    406               1020926
116              69          2021       1951   70     71               1020926
117              69          2022       1952   70    560               1020926
118              69          2023       1953   70   1318               1020926
119              70          2021       1951   70    112               1020926
120              70          2022       1952   70    813               1020926
121              70          2023       1953   70    565               1020926
122              68          2021       1952   69     79               1020926
123              68          2022       1953   69    652               1020926
124              68          2023       1954   69   1540               1020926
125              69          2021       1952   69    159               1020926
126              69          2022       1953   69    964               1020926
127              69          2023       1954   69    653               1020926
128              67          2021       1953   68     90               1020926
129              67          2022       1954   68    757               1020926
130              67          2023       1955   68   1895               1020926
131              68          2021       1953   68    163               1020926
132              68          2022       1954   68   1029               1020926
133              68          2023       1955   68    688               1020926
134              66          2021       1954   67    108               1020926
135              66          2022       1955   67    790               1020926
136              66          2023       1956   67   2001               1020926
137              67          2021       1954   67    227               1020926
138              67          2022       1955   67   1237               1020926
139              67          2023       1956   67    771               1020926
140              65          2021       1955   66    122               1020926
141              65          2022       1956   66    958               1020926
142              65          2023       1957   66   2293               1020926
143              66          2021       1955   66    235               1020926
144              66          2022       1956   66   1329               1020926
145              66          2023       1957   66    908               1020926
146              64          2021       1956   65    133               1020926
147              64          2022       1957   65   1045               1020926
148              64          2023       1958   65   2227               1020926
149              65          2021       1956   65    246               1020926
150              65          2022       1957   65   1545               1020926
151              65          2023       1958   65    952               1020926
152              63          2021       1957   64    135               1020926
153              63          2022       1958   64   1090               1020926
154              63          2023       1959   64   2286               1020926
155              64          2021       1957   64    308               1020926
156              64          2022       1958   64   1511               1020926
157              64          2023       1959   64    844               1020926
158              62          2021       1958   63    159               1020926
159              62          2022       1959   63   1059               1020926
160              62          2023       1960   63   1851               1020926
161              63          2021       1958   63    332               1020926
162              63          2022       1959   63   1530               1020926
163              63          2023       1960   63    728               1020926
164              61          2021       1959   62    147               1020926
165              61          2022       1960   62    859               1020926
166              61          2023       1961   62   1037               1020926
167              62          2021       1959   62    281               1020926
168              62          2022       1960   62   1304               1020926
169              62          2023       1961   62    383               1020926
170              60          2021       1960   61    101               1020926
171              60          2022       1961   61    474               1020926
172              60          2023       1962   61    146               1020926
173              61          2021       1960   61    217               1020926
174              61          2022       1961   61    685               1020926
175              61          2023       1962   61     66               1020926
176              59          2021       1961   60     69               1020926
177              59          2022       1962   60     77               1020926
178              59          2023       1963   60   1448               1020926
179              60          2021       1961   60    120               1020926
180              60          2022       1962   60     95               1020926
181              60          2023       1963   60    562               1020926
182              58          2021       1962   59      8               1020926
183              58          2022       1963   59    697               1020926
184              58          2023       1964   59   3946               1020926
185              59          2021       1962   59     18               1020926
186              59          2022       1963   59   1040               1020926
187              59          2023       1964   59   1472               1020926
188              57          2021       1963   58    104               1020926
189              57          2022       1964   58   1823               1020926
190              57          2023       1965   58   4315               1020926
191              58          2021       1963   58    198               1020926
192              58          2022       1964   58   2641               1020926
193              58          2023       1965   58   1623               1020926
194              56          2021       1964   57    272               1020926
195              56          2022       1965   57   2037               1020926
196              56          2023       1966   57   4728               1020926
197              57          2021       1964   57    549               1020926
198              57          2022       1965   57   2901               1020926
199              57          2023       1966   57   1953               1020926
200              55          2021       1965   56    287               1020926
201              55          2022       1966   56   2200               1020926
202              55          2023       1967   56   5295               1020926
203              56          2021       1965   56    574               1020926
204              56          2022       1966   56   3286               1020926
205              56          2023       1967   56   2097               1020926
206              54          2021       1966   55    342               1020926
207              54          2022       1967   55   2544               1020926
208              54          2023       1968   55   5915               1020926
209              55          2021       1966   55    655               1020926
210              55          2022       1967   55   3619               1020926
211              55          2023       1968   55   2363               1020926
212              53          2021       1967   54    374               1020926
213              53          2022       1968   54   2800               1020926
214              53          2023       1969   54   6364               1020926
215              54          2021       1967   54    717               1020926
216              54          2022       1968   54   4024               1020926
217              54          2023       1969   54   2481               1020926
218              52          2021       1968   53    376               1020926
219              52          2022       1969   53   2932               1020926
220              52          2023       1970   53   6851               1020926
221              53          2021       1968   53    758               1020926
222              53          2022       1969   53   4314               1020926
223              53          2023       1970   53   2726               1020926
224              51          2021       1969   52    419               1020926
225              51          2022       1970   52   3240               1020926
226              51          2023       1971   52   7334               1020926
227              52          2021       1969   52    891               1020926
228              52          2022       1970   52   4653               1020926
229              52          2023       1971   52   2786               1020926
230              50          2021       1970   51    420               1020926
231              50          2022       1971   51   3494               1020926
232              50          2023       1972   51   7920               1020926
233              51          2021       1970   51    963               1020926
234              51          2022       1971   51   5112               1020926
235              51          2023       1972   51   3062               1020926
236              49          2021       1971   50    465               1020926
237              49          2022       1972   50   3659               1020926
238              49          2023       1973   50   8524               1020926
239              50          2021       1971   50   1047               1020926
240              50          2022       1972   50   5464               1020926
241              50          2023       1973   50   3281               1020926
242              48          2021       1972   49    501               1020926
243              48          2022       1973   49   3923               1020926
244              48          2023       1974   49   8909               1020926
245              49          2021       1972   49   1065               1020926
246              49          2022       1973   49   5745               1020926
247              49          2023       1974   49   3520               1020926
248              47          2021       1973   48    543               1020926
249              47          2022       1974   48   4109               1020926
250              47          2023       1975   48   9283               1020926
251              48          2021       1973   48   1180               1020926

10 most popular hotels include the information about the average duration of stay and average price before the discount.
Most expensive hotels (top 10), hotels with the longest stays and etc.

In [ ]:
query1 = """

SELECT hotel_name, AVG(nights) AS avg_nights, AVG(hotel_per_room_usd) AS avg_price
FROM hotels h
GROUP BY hotel_name
ORDER BY hotel_name DESC
LIMIT 10
"""

query2 = """

SELECT hotel_name, MAX(nights) AS longest_nights, MAX(hotel_per_room_usd) AS most_expensive
FROM hotels h
GROUP BY hotel_name
ORDER BY most_expensive DESC
LIMIT 10
"""

display(pd.read_sql(sa.text(query1),connection))
display(pd.read_sql(sa.text(query2),connection))

             hotel_name  avg_nights   avg_price
0      Wyndham - xiamen   13.636364  192.545455
1       Wyndham - xi'an   18.666667  163.666667
2    Wyndham - winnipeg    3.963977  175.773775
3  Wyndham - washington    3.801092  181.228549
4      Wyndham - warsaw   11.400000  261.400000
5      Wyndham - vienna   12.243243  184.351351
6      Wyndham - venice   13.480000  130.480000
7   Wyndham - vancouver    4.003260  176.102689
8      Wyndham - tucson    4.064806  174.415753
9     Wyndham - toronto    4.173428  176.483976

                    hotel_name  longest_nights  most_expensive
0      Starwood  - los angeles              52          2377.0
1          Fairmont - new york              59          2377.0
2       Crowne Plaza - toronto              43          2367.0
3  Best Western - indianapolis              33          2315.0
4      Crowne Plaza - new york              47          2260.0
5        Four Seasons - tucson              35          2213.0
6   InterContinental  - austin              48          2211.0
7            Hilton - new york              45          2195.0
8   InterContinental  - dallas              44          2132.0
9    Extended Stay  - new york              51          2076.0

Most used airline in the last 6 months of recorded data

In [ ]:
query = """

SELECT trip_airline as most_used_airline,COUNT(*) as no_of_trips
FROM flights
WHERE DATE(departure_time) BETWEEN '2023-01-04' AND '2023-07-31'
GROUP BY trip_airline
ORDER BY 2 DESC
LIMIT 10

"""
display(pd.read_sql(sa.text(query),connection))

    most_used_airline  no_of_trips
0     Delta Air Lines       157924
1   American Airlines       157161
2     United Airlines       145100
3  Southwest Airlines        82903
4             Ryanair        72542
5     JetBlue Airways        59605
6     AirTran Airways        49250
7       Allegiant Air        49226
8          Air Canada        43573
9             WestJet        31342

Average number of seats booked on flights via TravelTide

In [ ]:
query = """

SELECT AVG(seats) AS avg_seats_booked
FROM flights

"""
display(pd.read_sql(sa.text(query),connection))

   avg_seats_booked
0          1.250864

What is the variability of the price for the same flight routes over different seasons?

In [ ]:
query = """

WITH seasons AS
(
 SELECT
  trip_airline,destination,base_fare_usd,origin_airport,destination_airport,
  CASE
  	WHEN EXTRACT(month FROM departure_time) >=2 AND EXTRACT(month FROM departure_time)<=4
  	THEN 'Spring'
  	WHEN EXTRACT(month FROM departure_time) >=5 AND EXTRACT(month FROM departure_time)<=7
  	THEN 'Summer'
  	WHEN EXTRACT(month FROM departure_time) >=8 AND EXTRACT(month FROM departure_time)<=10
  	THEN 'Autumn'
  	WHEN EXTRACT(month FROM departure_time) >=11 AND EXTRACT(month FROM departure_time)<=12
  	THEN 'Winter'
  END AS seasons,departure_time
  FROM flights
)
SELECT *
FROM seasons
GROUP BY 1,2,3,4,5,6,7

"""
display(pd.read_sql(sa.text(query),connection))

,trip_airline,destination,base_fare_usd,origin_airport,destination_airport,seasons,departure_time
0,Abu Dhabi Amiri Flight,edmonton,44.65,YYC,YEG,Spring,2023-02-17 07:00:00
1,Abu Dhabi Amiri Flight,edmonton,52.84,YYC,YEG,Summer,2023-06-23 12:00:00
2,Abu Dhabi Amiri Flight,edmonton,53.21,YYC,YEG,Autumn,2022-08-24 07:00:00
3,Abu Dhabi Amiri Flight,edmonton,53.92,YYC,YEG,Summer,2023-07-23 15:00:00
4,Abu Dhabi Amiri Flight,edmonton,55.25,YYC,YEG,Summer,2023-05-10 07:00:00
...,...,...,...,...,...,...,...
1901025,easyJet,vienna,1720.86,BFL,VIE,Summer,2023-06-19 11:00:00
1901026,easyJet,vienna,1815.07,LAX,VIE,Summer,2022-06-08 08:00:00
1901027,easyJet,vienna,2335.70,LGA,VIE,Autumn,2022-10-14 11:00:00
1901028,easyJet,vienna,2858.11,LIT,VIE,Summer,2023-07-24 20:00:00
1901029,easyJet,vienna,3415.06,SMF,VIE,Spring,2023-02-04 10:00:00

In [ ]:
# distance travelled in kms
query = """

SELECT haversine_distance(
    40.7128, -74.0060,  -- New York coordinates
    51.5074, -0.1278    -- London coordinates
) AS distance_km;

"""
display(pd.read_sql(sa.text(query),connection))

   distance_km
0   6341.41389

In [ ]:
query = """

SELECT haversine_distance(
    40.7128, -74.0060,  -- New York coordinates
    51.5074, -0.1278    -- London coordinates
) AS distance_km;

SELECT u.user_id, AVG(haversine_distance(
  u.home_airport_lat, u.home_airport_lon,
  f.destination_airport_lat, f.destination_airport_lon
)) AS distance_km
FROM users u
JOIN sessions s ON u.user_id = s.user_id
JOIN flights h ON s.trip_id = f.trip_id
GROUP BY u.user_id;
"""

query2 = """
SELECT u.user_id, AVG(haversine_distance(
  u.home_airport_lat, u.home_airport_lon,
  f.destination_airport_lat, f.destination_airport_lon
)) AS distance_km
FROM users u
JOIN sessions s ON u.user_id = s.user_id
JOIN flights f ON s.trip_id = f.trip_id
GROUP BY u.user_id;

"""


display(pd.read_sql(sa.text(query2),connection))

        user_id   distance_km
0        999441   2409.253289
1        460998   1612.944751
2        106621   9035.929593
3        583542   2729.866314
4        174416   1436.443747
...         ...           ...
843573   560047   2544.347416
843574   296863  13729.975133
843575   710096   2157.093604
843576   733333   2285.637029
843577   167276   1841.878017

[843578 rows x 2 columns]

User Level Data

In [ ]:
query = """

WITH joined_tables AS (
  SELECT s.user_id as u_id,s.trip_id as trip_id_final,
    *,
    CASE
      WHEN check_out_time::date - check_in_time::date <1 THEN 1
      ELSE check_out_time::date - check_in_time::date
    END as nights_new,
  CASE when rooms=0 THEN 1 ELSE rooms END as new_rooms
  FROM sessions s
  LEFT JOIN users u
  ON s.user_id = u.user_id
  LEFT JOIN hotels h
  ON s.trip_id = h.trip_id
  LEFT JOIN flights f
  ON s.trip_id = f.trip_id
  WHERE session_start >= '2023-01-04'
),
user_level AS (
  SELECT
    u_id as ul_id
  FROM joined_tables
  GROUP BY u_id
  HAVING COUNT(session_id) > 7
),
/* session_level_base AS
(SELECT s.session_id
FROM joined_tables jt
JOIN user_level ul
ON jt.u_id =ul.ul_id
JOIN sessions s
ON ul_id = s.user_id
),*/
--trip_level_metrics
trip_metrics AS (
	SELECT
		u_id,
  	AVG(nights_new) as avg_nights,
  	AVG(checked_bags) as avg_bags,
  	AVG(seats),
  	AVG(rooms),
  	AVG(base_fare_usd),
		COUNT(DISTINCT trip_id_final),
	SUM(CASE WHEN flight_booked = TRUE and hotel_booked = FALSE and cancellation = FALSE THEN 1 END) AS flights_booked,
	SUM(CASE WHEN hotel_booked = TRUE and flight_booked = FALSE and cancellation = FALSE THEN 1 END) AS flights_booked
	FROM joined_tables
  GROUP BY u_id
),
-- session_level_metrics
session_metrics AS (
	SELECT
		u_id,
		COUNT(DISTINCT session_id),
		AVG(page_clicks) AS avg_page_clicks
	FROM joined_tables
  GROUP BY u_id
)

  SELECT
    ul.ul_id,
			 COUNT (DISTINCT session_id) AS sessions,
       CASE WHEN
EXTRACT(year from age('2023-07-28', birthdate)) < 18 THEN 'Under 18'
WHEN EXTRACT(year from age('2023-07-28', birthdate)) < 25 THEN '18-25'
WHEN EXTRACT(year from age('2023-07-28', birthdate)) < 35 THEN '25-35'
WHEN EXTRACT(year from age('2023-07-28', birthdate)) < 45 THEN '35-45'
WHEN EXTRACT(year from age('2023-07-28', birthdate)) < 55 THEN '45-55'
WHEN EXTRACT(year from age('2023-07-28', birthdate)) < 65 THEN '55-65'
ELSE '65+'
END AS user_age,COUNT (DISTINCT session_id)AS sessions,
jt.home_country,
  jt.home_city,
	jt.sign_up_date,
  COUNT(jt.cancellation) as cancellations,
  COUNT(DISTINCT trip_id_final) as trips
FROM joined_tables jt
JOIN user_level ul
ON jt.u_id =ul.ul_id
LEFT JOIN trip_metrics tm
on tm.u_id = jt.u_id
LEFT JOIN session_metrics sm
ON sm.u_id = jt.u_id
GROUP BY ul.ul_id,user_age,jt.home_country,
  jt.home_city,
	jt.sign_up_date

"""
pd.read_sql(sa.text(query),connection)

,ul_id,sessions,user_age,sessions,home_country,home_city,sign_up_date,cancellations,trips
0,23557,8,55-65,8,usa,new york,2021-07-22,8,2
1,94883,8,45-55,8,usa,kansas city,2022-02-07,8,2
2,101486,8,45-55,8,usa,tacoma,2022-02-17,8,2
3,101961,8,35-45,8,usa,boston,2022-02-17,8,5
4,106907,8,35-45,8,usa,miami,2022-02-24,8,1
...,...,...,...,...,...,...,...,...,...
5993,792549,8,45-55,8,usa,kansas city,2023-04-30,8,4
5994,796032,8,45-55,8,canada,winnipeg,2023-05-01,8,3
5995,801660,8,45-55,8,canada,toronto,2023-05-03,8,3
5996,811077,8,35-45,8,usa,knoxville,2023-05-06,8,1
5997,844489,8,18-25,8,usa,el paso,2023-05-18,8,0

In [ ]:
# Final user level data after assigning perks
user_level_after_perks = """
/* Considering data after Jan 4 2023
Aggregated User Level*/
WITH joined_tables AS (
    SELECT s.user_id as u_id,
        s.trip_id as trip_id_final,
        *,
        CASE
            WHEN check_out_time::date - check_in_time::date < 1 THEN 1
            ELSE check_out_time::date - check_in_time::date
        END as nights_new,
        CASE
            when rooms = 0 THEN 1
            ELSE rooms
        END as new_rooms
    FROM sessions s
        LEFT JOIN users u ON s.user_id = u.user_id
        LEFT JOIN hotels h ON s.trip_id = h.trip_id
        LEFT JOIN flights f ON s.trip_id = f.trip_id
    WHERE session_start >= '2023-01-04'
),
--user_level - demographics
user_level AS (
    SELECT u_id as ul_id,
        EXTRACT(
            year
            from age('2023-07-28', birthdate)
        ) AS user_age,
        ---- Calculates the numerical age
        CASE
            WHEN EXTRACT(
                year
                from age('2023-07-28', birthdate)
            ) < 18 THEN 'Under 18'
            WHEN EXTRACT(
                year
                from age('2023-07-28', birthdate)
            ) < 25 THEN '18-25'
            WHEN EXTRACT(
                year
                from age('2023-07-28', birthdate)
            ) < 35 THEN '25-35'
            WHEN EXTRACT(
                year
                from age('2023-07-28', birthdate)
            ) < 45 THEN '35-45'
            WHEN EXTRACT(
                year
                from age('2023-07-28', birthdate)
            ) < 55 THEN '45-55'
            WHEN EXTRACT(
                year
                from age('2023-07-28', birthdate)
            ) < 65 THEN '55-65'
            ELSE '65+'
        END as age_group
    FROM joined_tables
    GROUP BY u_id,
        birthdate
    HAVING COUNT(session_id) > 7
),
--session_level_base filtering Users with more than 7 Sessions in the selected time frame(2023-01-04)
session_level_base AS (
    SELECT s.session_id,
        AVG(s.flight_discount_amount) AS avg_flight_discount,
        AVG(s.hotel_discount_amount) AS avg_hotel_discount
    FROM joined_tables jt
        JOIN user_level ul ON jt.u_id = ul.ul_id --joining users and sessions table to joined_table
        JOIN sessions s ON ul_id = s.user_id
    GROUP BY s.session_id
),
--trip_level_metrics
trip_metrics AS (
    SELECT u_id,
        AVG(nights_new) as avg_nights,
        AVG(checked_bags) as avg_bags,
        AVG(seats) as avg_seats,
        AVG(rooms) as avg_rooms,
        AVG(base_fare_usd) as avg_spend,
        COUNT(DISTINCT trip_id_final) as num_trips,
        SUM(
            CASE
                WHEN flight_booked = TRUE
                and hotel_booked = FALSE
                and cancellation = FALSE THEN 1
            END
        ) AS flights_booked_only, --
        SUM(
            CASE
                WHEN hotel_booked = TRUE
                and flight_booked = FALSE
                and cancellation = FALSE THEN 1
            END
        ) AS hotel_booked_only
    FROM joined_tables
    GROUP BY u_id
),
-- session_level_metrics
session_metrics AS (
    SELECT u_id,
        COUNT(DISTINCT session_id),
        AVG(page_clicks) AS avg_page_clicks,
        AVG(flight_discount_amount) AS avg_flight_discount,
        AVG(hotel_discount_amount) AS avg_hotel_discount
    FROM joined_tables
    GROUP BY u_id
),
--user metrics
user_metrics AS (
    SELECT u_id,
        SUM(
            CASE
                WHEN flight_booked = TRUE
                and hotel_booked = FALSE and cancellation = FALSE THEN jt.base_fare_usd
            END --calculating flight booked only without cancellations, hotel booked
        ) AS money_spent_flight,
        SUM(
            CASE
                WHEN hotel_booked = TRUE
                and flight_booked = FALSE and cancellation = FALSE THEN jt.hotel_per_room_usd
            END --calculating hotel booked only without cancellations, flight booked
        ) AS money_spent_hotel,
        SUM(
            CASE
                WHEN hotel_booked = TRUE
                and flight_booked = FALSE
                and cancellation = FALSE THEN jt.hotel_per_room_usd
            END
        ) + SUM(
            CASE
                WHEN flight_booked = TRUE
                and hotel_booked = FALSE
                and cancellation = FALSE THEN jt.base_fare_usd
            END --calculating hotel + flight booked without cancellations
        ) AS money_spent_total,
        AVG(
            haversine_distance(
                u.home_airport_lat,
                u.home_airport_lon,
                f.destination_airport_lat,
                f.destination_airport_lon
            )
        ) AS avg_distance_kms --calculating average distance in kms
    FROM joined_tables jt
        LEFT JOIN users u ON u.user_id = jt.u_id --joining user table and joined tables
        LEFT JOIN flights f ON f.trip_id = jt.trip_id_final --joining flight
    GROUP BY u_id
),
user_summary AS (
    SELECT u_id,
        SUM(jt.hotel_per_room_usd) AS total_money_spent_hotel,
  			SUM(jt.base_fare_usd) AS total_money_spent_flight,
        COUNT(DISTINCT trip_id_final) as num_trips
    FROM joined_tables jt
    GROUP BY u_id
),
user_features AS (
    SELECT ul.ul_id,
        jt.sign_up_date,
  			ul.user_age,
  			jt.has_children,
        jt.home_country,
        jt.home_city,
        COUNT(DISTINCT session_id) AS sessions,
        COUNT(jt.cancellation) as cancellations,
        sm.avg_page_clicks,
        tm.avg_spend,
        tm.avg_nights,
        tm.avg_rooms,
        tm.avg_seats,
        sm.avg_hotel_discount,
        sm.avg_flight_discount,
        um.avg_distance_kms,
        um.money_spent_total,
        um.money_spent_flight,
        um.money_spent_hotel,
  			us.total_money_spent_hotel,
  			us.total_money_spent_flight,
        ul.age_group,
        us.num_trips
    FROM joined_tables jt
        JOIN user_level ul ON jt.u_id = ul.ul_id
        LEFT JOIN trip_metrics tm ON tm.u_id = jt.u_id
        LEFT JOIN session_metrics sm ON sm.u_id = jt.u_id
        LEFT JOIN user_metrics um ON um.u_id = jt.u_id
        LEFT JOIN user_summary us ON us.u_id = jt.u_id
    GROUP BY ul.ul_id,
        jt.sign_up_date,
        jt.home_country,
        jt.home_city,
        sm.avg_page_clicks,
        tm.avg_spend,
        tm.avg_nights,
        tm.avg_rooms,
        tm.avg_seats,
        sm.avg_hotel_discount,
        sm.avg_flight_discount,
        um.avg_distance_kms,
        um.money_spent_total,
        um.money_spent_flight,
        um.money_spent_hotel,
  			us.total_money_spent_hotel,
  			us.total_money_spent_flight,
        ul.user_age,
        jt.has_children,
        ul.age_group,
        us.num_trips
),
user_perk AS (
    SELECT *,
        CASE
            WHEN num_trips > 0 THEN
                CASE
                    WHEN user_age < 30 THEN
                        CASE
                            WHEN has_children = TRUE THEN
                                CASE
                                    WHEN money_spent_hotel > 1.5 * (SELECT AVG(money_spent_hotel) FROM user_metrics) THEN 'Family High Spenders : Free stay for Child'
                                    ELSE 'Family Traveler : Free child ticket'
                                END
                            WHEN has_children = FALSE AND num_trips > 3 THEN 'Adventurer : 10% Discount on each additional Seat'
                            ELSE 'Occasional Travelers: Complimentary drinks'
                        END
                    WHEN user_age > 60 THEN
                        CASE
                            WHEN money_spent_hotel > 1.5 * (SELECT AVG(money_spent_hotel) FROM user_metrics) THEN 'Elder Explorers: Free Meal '
                            ELSE 'Travel-averse seniors: Support on Senior Services'
                        END
                    ELSE
                        CASE
                            WHEN num_trips > 3 THEN
                                CASE
                                    WHEN money_spent_hotel > 1.5 * (SELECT AVG(money_spent_hotel) FROM user_metrics) THEN 'Premium: 20% discount and free checked bag'
                                    ELSE 'Standard: 15% Discount'
                                END
                            ELSE 'unseasoned Travelers: 50% off on Premium subscription'
                        END
                END
  WHEN cancellations > 0 THEN 'Last-minute cancelers: Free Cancellation for 30 days'
            ELSE 'New Buddies: 50% off first trip'


        END AS perk
    FROM user_features
)
SELECT *
FROM user_perk
ORDER BY ul_id;

"""
pd.read_sql(sa.text(user_level_after_perks),connection)

,ul_id,sign_up_date,user_age,has_children,home_country,home_city,sessions,cancellations,avg_page_clicks,avg_spend,...,avg_flight_discount,avg_distance_kms,money_spent_total,money_spent_flight,money_spent_hotel,total_money_spent_hotel,total_money_spent_flight,age_group,num_trips,perk
0,23557,2021-07-22,64.0,False,usa,new york,8,8,10.250,NaN,...,NaN,NaN,NaN,NaN,354.0,354.0,NaN,55-65,2,Elder Explorers: Free Meal
1,94883,2022-02-07,51.0,False,usa,kansas city,8,8,9.125,432.045000,...,NaN,1451.335404,NaN,NaN,NaN,180.0,864.09,45-55,2,unseasoned Travelers: 50% off on Premium subsc...
2,101486,2022-02-17,50.0,True,usa,tacoma,8,8,16.375,189.910000,...,0.075000,995.681600,NaN,NaN,144.0,397.0,189.91,45-55,2,unseasoned Travelers: 50% off on Premium subsc...
3,101961,2022-02-17,42.0,False,usa,boston,8,8,15.750,248.532000,...,0.150000,1366.569097,NaN,NaN,NaN,680.0,1242.66,35-45,5,Standard: 15% Discount
4,106907,2022-02-24,44.0,True,usa,miami,8,8,30.000,13902.060000,...,NaN,12797.480541,NaN,NaN,NaN,258.0,27804.12,35-45,1,unseasoned Travelers: 50% off on Premium subsc...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5993,792549,2023-04-30,45.0,False,usa,kansas city,8,8,14.250,259.792500,...,0.150000,1459.165621,NaN,810.07,NaN,36.0,1039.17,45-55,4,Standard: 15% Discount
5994,796032,2023-05-01,50.0,False,canada,winnipeg,8,8,18.500,1305.410000,...,0.100000,4763.566102,NaN,2250.06,NaN,394.0,5221.64,45-55,3,unseasoned Travelers: 50% off on Premium subsc...
5995,801660,2023-05-03,53.0,True,canada,toronto,8,8,14.375,136.653333,...,0.166667,710.553530,NaN,NaN,NaN,436.0,409.96,45-55,3,unseasoned Travelers: 50% off on Premium subsc...
5996,811077,2023-05-06,44.0,True,usa,knoxville,8,8,13.125,579.790000,...,0.075000,3223.161635,NaN,NaN,NaN,142.0,579.79,35-45,1,unseasoned Travelers: 50% off on Premium subsc...
5997,844489,2023-05-18,23.0,True,usa,el paso,8,8,12.375,NaN,...,0.050000,NaN,NaN,NaN,NaN,NaN,NaN,18-25,0,Last-minute cancelers: Free Cancellation for 3...

In [ ]:
users_level_df = pd.read_sql(sa.text(user_level_after_perks),connection)

# create file to download and use in tableau
users_level_df.to_csv('users_level_final_table_after_perks.csv', index=False)

In [ ]:
users_level_df.columns

Index(['ul_id', 'sign_up_date', 'user_age', 'has_children', 'home_country',
       'home_city', 'sessions', 'cancellations', 'avg_page_clicks',
       'avg_spend', 'avg_nights', 'avg_rooms', 'avg_seats',
       'avg_hotel_discount', 'avg_flight_discount', 'avg_distance_kms',
       'money_spent_total', 'money_spent_flight', 'money_spent_hotel',
       'total_money_spent_hotel', 'total_money_spent_flight', 'age_group',
       'num_trips', 'perk'],
      dtype='object')